@import 'palette';

$button-function-factor: 0;
$button-bg-color: $kiva-accent-blue;
$button-bg-hover: $kiva-textlink-hover;

$button-font-med: rem-calc(28);
$button-font-med-reduction: rem-calc(14);
$button-font-sm: rem-calc(24);
$button-font-weight: $font-weight-bold;

$button-height-med: rem-calc(64);
$button-height-med-reduction: rem-calc(20);
$button-height-sm: rem-calc(44);

$button-width-standard: rem-calc(244);

$setting-button-height: rem-calc(32);
$setting-button-height-reduction: rem-calc(6);
$setting-button-font-size: rem-calc(16);
$setting-button-font-size-reduction: rem-calc(4);
$setting-button-icon-size: rem-calc(18);
$setting-button-icon-size-reduction: rem-calc(4);
$setting-button-text-color: $kiva-text-dark;
$setting-button-background-color: $white;
$setting-button-border-color: $kiva-text-dark;

$secondary-button-font-sm: rem-calc(14);
$secondary-button-font-med: rem-calc(18);
