// Foundation default named colors
$white       : #FFF;
$ghost       : #FAFAFA; // rgb(250, 250, 250)
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEE;
$gainsboro   : #DDD;
$iron        : #CCC;
$base        : #AAA;
$aluminum    : #999;
$jumbo       : #888;
$monsoon     : #777;
$steel       : #666;
$charcoal    : #555;
$tuatara     : #444;
$oil         : #333;
$jet         : #222;
$black       : #000;

// Kiva-added named colors
$green: #63a541; // rgb(99, 165, 65)
$dark-green: #236133; // rgb(35, 97, 51)
$graphic-green: #488443; // rgb(72, 132, 67)
$divider-green: #49953f; // rgb(73, 149, 63)
$light-green: #a9d14c; // rgb(169, 209, 76)
$blue: #26b6e8; // rgb(38, 182, 232)
$sky-blue: #22a9d8; // rgb(34, 169, 216)
$faded-blue: #6698a9; // rgb(102, 152, 169)
$pale-blue: #d2f0f8;
$highlight-blue: #0d8ebb; // rgb(13, 142, 187)
$light-blue-gray: #DBE3E5;
$red: #9C021A; // rgb(156, 2, 26)
$vivid-yellow: #FEF37B; //rgb(254, 243, 123)
$platinum: #efefef; // rgb(239, 239, 239)
$light-gray: #d8d8d8; // rgb(216, 216, 216)
$charcoal: #333; // rgb(51, 51, 51)
$dark-gray: #666; // rgb(102, 102, 102)
$gray: #999; // rgb(153, 153, 153)

// social media icon colors
$facebook-hover-color:	#3b5998;
$pinterest-hover-color:	#bd081c;
$twitter-hover-color:	#55acee;
$yelp-hover-color:		#bd081c;
$youtube-hover-color:	#cd201f;
$linkedin-hover-color:	#0077b5;
$instagram-hover-color:	#0a0b09;

// Kiva functional color names
$kiva-green: $green;
$kiva-darkgreen: $dark-green;
$kiva-accent-green: $light-green;
$kiva-accent-blue: $blue;
$kiva-accent-red: $red;
$kiva-alert-yellow: $vivid-yellow;
$kiva-icon-green: $graphic-green;
$kiva-navdivider-green: $divider-green;
$kiva-bg-lightgray: $ghost;
$kiva-bg-darkgray: $platinum;
$kiva-stroke-gray: $light-gray;
$kiva-text-dark: $charcoal;
$kiva-text-medium: $dark-gray;
$kiva-text-light: $gray;
$kiva-textlink: $sky-blue;
$kiva-textlink-visited: $faded-blue;
$kiva-textlink-hover: $highlight-blue;
$kiva-filter-indicator: $blue;
$kiva-filter-indicator-bg: $pale-blue;

// graph and chart element colors
$graph-green: $green;
$graph-blue: $highlight-blue;
$graph-purple: #5141a5;
$graph-red: $red;
$graph-med-gray: #666;
$graph-yellow: #f8e71c;
$graph-dark-green: $dark-green;
$graph-pale-blue: #d2f0f8;
$graph-magenta: #a54195;
$graph-light-gray: #d8d8d8;

// avatar initial colors
$letter-colors: (
	'A' $green,
	'B' $highlight-blue,
	'C' #5141A5,
	'D' $red,
	'E' #F8E71C,
	'F' $dark-green,
	'G' #6AE0FF,
	'H' #A54195,
	'I' #3200B2,
	'J' #FF030E,
	'K' #FF7E03,
	'L' #66FE8D,
	'M' #B2A500,
	'N' #B25C00,
	'O' #FFAA50,
	'P' #F90AFF,
	'Q' $light-green,
	'R' #FF4F57,
	'S' #A3A6FF,
	'T' #FFD803,
	'U' $blue,
	'V' $graphic-green,
	'W' $divider-green,
	'X' $gray,
	'Y' $faded-blue,
	'Z' $charcoal
);

// panel stuff
$callout-panel-bg: $kiva-alert-yellow;
