// custom font sizes and line height

@import 'foundation/functions';
@import 'palette';

$x-small-font-size				: rem-calc(12);
$x-small-line-height			: rem-calc(18);

$small-font-size				: rem-calc(14);
$small-line-height				: rem-calc(20);
$small-font-color				: $kiva-text-dark;

$body-font-size					: rem-calc(18);
$body-line-height				: rem-calc(24);

$paragraph-font-size			: $body-font-size;
$paragraph-line-height			: $body-line-height;

$list-font-size					: inherit;
$list-line-height				: inherit;

$paragraph-aside-font-size		: $small-font-size;
$paragraph-aside-line-height	: $small-line-height;

$top-nav-font-size				: rem-calc(21);
$top-nav-line-height			: rem-calc(21);
$top-nav-font-reduction			: rem-calc(3);

$secondary-nav-font-size		: rem-calc(16);
$secondary-nav-line-height		: rem-calc(24);

$page-title-font-size			: rem-calc(36);
$page-title-line-height			: rem-calc(36);
$page-title-font-size-reduction 	: rem-calc(12);
$page-title-line-height-reduction	: rem-calc(12);

$section-head-font-size			: rem-calc(28);
$section-head-line-height		: rem-calc(36);

$section-head-font-size-reduction	: rem-calc(6);
$section-head-line-height-reduction	: rem-calc(6);

$feature-font-size				: $section-head-font-size;
$feature-line-height			: $section-head-line-height;
$feature-font-size-reduction 	: rem-calc(6);
$feature-line-height-reduction	: rem-calc(9);

$headline-font-size				: rem-calc(56);
$headline-line-height			: rem-calc(64);
$headline-font-size-reduction	: rem-calc(10);
$headline-font-size-small-reduction	: rem-calc(26);
$headline-font-size-extra-small-reduction	: rem-calc(31);
$headline-line-height-reduction	: rem-calc(32);

$slide-overlay-font-size			: rem-calc(32);
$slide-overlay-line-height			: rem-calc(36);
$slide-overlay-font-size-reduction	: rem-calc(10);
$slide-overlay-line-height-reduction: rem-calc(6);
$slide-overlay-short-addition		: rem-calc(4);
$slide-overlay-very-short-addition	: rem-calc(8);
$slide-overlay-long-reduction		: rem-calc(-4);
$slide-overlay-attribution-font-size: rem-calc(24);
$slide-overlay-attribution-line-height: rem-calc(28);
$slide-overlay-attribution-small-size: rem-calc(16);

$impact-font-size					: rem-calc(45);
$impact-line-height					: rem-calc(54);
$impact-font-size-med-reduction		: rem-calc(9);
$impact-line-height-med-reduction	: rem-calc(14);
$impact-font-size-reduction			: rem-calc(19);
$impact-line-height-reduction		: rem-calc(22);

$huge-headline-font-size		: rem-calc(81);
$huge-headline-line-height		: rem-calc(90);
$huge-headline-font-size-reduction		: rem-calc(27);
$huge-headline-line-height-reduction	: rem-calc(28);

$small-statistic-font-size: rem-calc(28);
$small-statistic-line-height: rem-calc(28);

$statistic-font-size			: rem-calc(36);
$statistic-line-height			: rem-calc(36);
$statistic-font-size-reduction: rem-calc(8);
$statistic-line-height-reduction: rem-calc(8);

$medium-statistic-font-size: rem-calc(36);
$medium-statistic-line-height: rem-calc(36);

$huge-statistic-font-size		: rem-calc(144);
$huge-statistic-line-height		: rem-calc(156);
$huge-statistic-font-large-reduction: rem-calc(14);
$huge-statistic-font-medium-reduction: rem-calc(36);
$huge-statistic-font-extra-medium-reduction: rem-calc(54);
$huge-statistic-font-small-reduction	: rem-calc(72);
$huge-statistic-font-extra-small-reduction	: rem-calc(79);

$huge-type-kerning				: rem-calc(-4);
$huge-type-kerning-reduction	: rem-calc(-2);

$header-font-color: $kiva-text-dark;

// customize headline font sizes
$h1-font-size: $headline-font-size;
$h2-font-size: $section-head-font-size;

$paragraph-font-size: $body-font-size;
$paragraph-line-height: $body-line-height;

@mixin text-shadow() {
	text-shadow: 1px 1px 3px #333;
}

@mixin small-text() {
	font-size: $small-font-size;
	line-height: $small-line-height;
}

@mixin body-text() {
	font-size: $body-font-size;
	line-height: $body-line-height;
}

@mixin featured-text() {
	font-size: $feature-font-size - $feature-font-size-reduction;
	line-height: $feature-line-height - $feature-line-height-reduction;

	@media #{$medium-up} {
		font-size: $feature-font-size;
		line-height: $feature-line-height;
	}
}

@mixin small-featured-text() {
	font-size: $feature-font-size - $feature-font-size-reduction;
	line-height: $feature-line-height - $feature-line-height-reduction;
}

@mixin large-featured-text() {
	font-size: $feature-font-size;
	line-height: $feature-line-height;
}

@mixin slide-overlay-text($adjustment: 0) {
	font-size: $slide-overlay-font-size - $slide-overlay-font-size-reduction + $adjustment;
	line-height: $slide-overlay-line-height - $slide-overlay-line-height-reduction + $adjustment;

	@media #{$small-medium-only} {
		font-size: $slide-overlay-font-size + $adjustment;
		line-height: $slide-overlay-line-height + $adjustment;
	}

	@media #{$large-up} {
		font-size: $slide-overlay-font-size + $adjustment;
		line-height: $slide-overlay-line-height + $adjustment;
	}
}

@mixin page-title() {
	font-size: $page-title-font-size - $page-title-font-size-reduction;
	line-height: $page-title-line-height - $page-title-line-height-reduction;
	font-weight: $font-weight-bold;
	color: $kiva-green;
	margin-bottom: 0.5rem;

	@media #{$large-up} {
		font-size: $page-title-font-size;
		line-height: $page-title-line-height;
	}
}

@mixin impact-text() {
	font-size: $impact-font-size - $impact-font-size-reduction;
	line-height: $impact-line-height - $impact-line-height-reduction;
	font-weight: $font-weight-bold;

	@media #{$medium-only} {
		font-size: $impact-font-size - $impact-font-size-med-reduction;
		line-height: $impact-line-height - $impact-line-height-med-reduction;
	}

	@media #{$large-up} {
		font-size: $impact-font-size;
		line-height: $impact-line-height;
	}
}

@mixin vertical-center-text() {
	position: absolute;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
