// COLUMNS
@mixin column-count($num-cols) {
	-webkit-column-count: $num-cols;
	-moz-column-count: $num-cols;
	column-count: $num-cols;
}

@mixin column-break($value: avoid) {
	-webkit-column-break-inside: $value;
	page-break-inside: $value;
	break-inside: $value;
}

@mixin rotate($value: 0, $unit: deg) {
	-webkit-transform: rotate($value$unit);
	-moz-transform: rotate($value$unit);
	transform: rotate($value$unit);
}

%width-100 {
	width: 100%;
}

%margin-padding-0 {
	margin: 0;
	padding: 0;
}
