// import global styles
@use 'global/page-layout';
@use 'global/line-breaks';
@use 'global/forms';
@use 'global/transitions';
@use 'global/print';
@use 'global/drop-in';

// import global foundation components
@use 'settings' as *;
@include foundation-flex-classes ();
@include foundation-flex-grid ();
@include foundation-visibility-classes ();
