// import all the variables
@import 'settings';
@import 'foundation';

// import fonts first to start loading them
@import 'global/fonts';

// import global foundation components
@include foundation-global-styles;
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-visibility-classes;
@include foundation-typography;
@include foundation-forms;

// import global styles
@import 'global/page-layout';
@import 'global/line-breaks';
@import 'global/typography';
@import 'global/forms';
@import 'global/transitions';
