// import all the variables
@import 'settings';
@import 'foundation';

// import global foundation components
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-visibility-classes;

// import global styles
@import 'global/page-layout';
@import 'global/line-breaks';
@import 'global/forms';
@import 'global/transitions';
@import 'global/print';
@import 'global/drop-in';
