.white {
	color: $white;
}

.white-bg {
	background-color: $white;
}

.kiva-gray {
	color: $kiva-text-light;
}

.kiva-green {
	color: $kiva-green;
}

.kiva-darkgreen {
	color: $kiva-darkgreen;
}

.kiva-accent-green {
	color: $kiva-accent-green;
}

.kiva-green-bg {
	background-color: $kiva-green;
}

.kiva-darkgreen-bg {
	background-color: $kiva-darkgreen;
}
