@font-face {
	font-family: "PostGrotesk";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("~@/assets/fonts/PostGrotesk-Medium.woff2") format('woff2');
}

@font-face {
	font-family: "PostGrotesk";
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url("~@/assets/fonts/PostGrotesk-BoldItalic.woff2") format('woff2');
}

@font-face {
	font-family: "PostGrotesk";
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url("~@/assets/fonts/PostGrotesk-Book.woff2") format('woff2');
}

@font-face {
	font-family: "PostGrotesk";
	font-weight: 300;
	font-style: italic;
	font-display: swap;
	src: url("~@/assets/fonts/PostGrotesk-BookItalic.woff2") format('woff2');
}
