@import "settings";

// Form validation
label.error {
	& + input,
	& + input:focus {
		border: 1px solid rgb(var(--text-danger));
	}
}

// for inputs without a label
input.error,
input.error:focus {
	border: 1px solid rgb(var(--text-danger));
}

// validation error text
.validation-errors {
	margin-left: 0;
}

.validation-errors li,
.validation-error {
	list-style: none;
	color: rgb(var(--text-danger));
	font-weight: $global-weight-highlight;
	font-size: $small-text-font-size;
}
