@import 'settings';

// screen-width-specific line breaks
br.so,
br.mo,
br.lo,
br.xlo,
br.xxlo,
br.smo,
br.lu {
	display: none;
}

br.so {
	@include breakpoint(small only) {
		display: inline;
	}
}

br.mo {
	@include breakpoint(medium only) {
		display: inline;
	}
}

br.lo {
	@include breakpoint(large only) {
		display: inline;
	}
}

br.xlo {
	@include breakpoint(xlarge only) {
		display: inline;
	}
}

br.xxlo {
	@include breakpoint(xxlarge only) {
		display: inline;
	}
}

br.smo {
	@include breakpoint(small only) {
		display: inline;
	}
	@include breakpoint(medium only) {
		display: inline;
	}
}

br.lu {
	@include breakpoint(large) {
		display: inline;
	}
}
