html,
body {
	height: 100%;
}

/* global modifiers */
body.scroll-locked {
	-webkit-overflow-scrolling: auto;
	overflow: hidden;
}

body.scroll-locked-small-only {
	@include breakpoint(small only) {
		-webkit-overflow-scrolling: auto;
		overflow: hidden;
	}
}
