/*
	global transitions
*/

.kvfade-enter-active,
.kvfade-leave-active {
	transition: opacity 0.5s;
}

.kvfade-enter,
.kvfade-leave-to {
	opacity: 0;
}

.kvfastfade-enter-active,
.kvfastfade-leave-active {
	transition: opacity 0.5s;
}

.kvfastfade-enter,
.kvfastfade-leave-to {
	opacity: 0;
}
