/*
	global transitions
*/

.kvfade-enter-active,
.kvfade-leave-active {
	transition: opacity 0.5s;
}

.kvfade-enter,
.kvfade-leave-to {
	opacity: 0;
}

.kvfastfade-enter-active,
.kvfastfade-leave-active {
	transition: opacity 0.25s;
}

.kvfastfade-enter,
.kvfastfade-leave-to {
	opacity: 0;
}

.kv-slide-left-enter {
	transform: translateX(100%);
}

.kv-slide-left-leave-to {
	transform: translateX(-100%);
}

.kv-slide-left-enter-active,
.kv-slide-left-leave-active {
	transition: transform 500ms ease-in-out;
}
