@import 'settings';

h1 {
	font-weight: 500;
}

h4 {
	font-weight: 400;
}

h5,
h6 {
	font-weight: 700;
}

h1.huge {
	@include huge-headline();
}

.small-text {
	@include small-text();
}

.featured-text {
	@include featured-text();
}

.overlay-text {
	@include overlay-text();
}

.impact-text {
	@include impact-text();
}

.strong {
	font-weight: bold;
}
