.DS_Store
node_modules/
dist/
npm-debug.log*
coverage/
test/e2e/screenshots
test/e2e/results
server/available-routes.json
build/schema.graphql
.nyc_output/
.lighthouseci/
lhci/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode
.env
.config.env
config.env
jsconfig.json
