{
  "plugins": [ "stylelint-scss" ],
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-case": null,
    "indentation": "tab",
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "at-rule-empty-line-before": null,
    "no-empty-source": null,
    "unit-whitelist": ["em", "rem", "%", "px", "deg", "vh", "vw", "ms", "s"],
    "selector-pseudo-element-no-unknown": [true, {
      "ignorePseudoElements": ["v-deep"]
    }]
  }
}
