{
  "plugins": [ "stylelint-scss" ],
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-case": null,
    "indentation": "tab",
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "at-rule-empty-line-before": null
  }
}
