# Values for kiva-ui Dev deployment
# - refer to /deploy/charts/values.yaml for defaults and commentary

image:
  repository: kiva/ui
  tag: "" # Expected be set by Jenkins
  pullPolicy: Always

deployenv:
  environment: "k8sdev" # injected into deployment template

secretName: kiva-ui

service:
  type: ClusterIP
  port: 8888
  portName: &servicePortName "http"

resources:
  requests:
    cpu: 1000m
    memory: 2000Mi
  limits:
    cpu: 1000m
    memory: 2000Mi

replicaCount: 4
minReplicas: 4
maxReplicas: 10

metrics:
  name: cpu
  target:
    type: Utilization
    averageUtilization: 12

ingress:
  host: "ui-dev.dk1.kiva.org"
  spec:
    rules:
      - host: "ui-dev.dk1.kiva.org"
        http:
          paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: "kiva-ui"
                port:
                  name: *servicePortName
  tls:
    - hosts:
      - ui-dev.dk1.kiva.org
      secretName: "kiva-ui-tls"
  whitelist:
    enabled: true

configmap:
  data:
  - key: DD_TRACE_GLOBAL_TAGS
    value: "env:dev,app:kiva-ui"
  - key: DD_ENV
    value: "dev"
  - key: NODE_OPTIONS
    value: "--max-old-space-size=460"
