# Values for kiva-ui Dev deployment
# - refer to /deploy/charts/values.yaml for defaults and commentary

image:
  repository: kiva/ui
  tag: "" # Expected be set by Jenkins
  pullPolicy: Always

imagePullSecretName: regcred

deployenv:
  environment: "k8sprod" # injected into deployment template

secretName: kiva-ui

service:
  type: ClusterIP
  port: 8888
  portName: &servicePortName "http"

resources:
  requests:
    cpu: 250m
    memory: 2000Mi
  limits:
    cpu: 250m
    memory: 2000Mi

replicaCount: 28
minReplicas: 28
maxReplicas: 80

metrics:
  name: cpu
  target:
    type: Utilization
    averageUtilization: 25

ingress:
  host: "ui.k1.kiva.org"
  spec:
    rules:
      - host: "ui.k1.kiva.org"
        http:
          paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: "kiva-ui"
                port:
                  name: *servicePortName
  tls:
    - hosts:
      - ui.k1.kiva.org
      secretName: "kiva-ui-tls"

configmap:
  data:
  - key: DD_TRACE_GLOBAL_TAGS
    value: "env:prod,app:kiva-ui"
  - key: DD_ENV
    value: "prod"
