@import 'settings';

// Reference
$small-default-hover-image-width: rem-calc(480);
$small-default-hover-image-height: rem-calc(300);
$large-default-hover-image-width: $small-default-hover-image-width;
$large-default-hover-image-height: $small-default-hover-image-height;

// Card Styles
$hover-card-border-radius: rem-calc(3);

// Card sizes
$small-hover-card-width: rem-calc(220);
$small-hover-card-height: rem-calc(228);
$large-hover-card-width: rem-calc(320);
$large-hover-card-height: rem-calc(403);
$hover-card-right-margin: rem-calc(10);

// Card Section Sizes
$small-hover-card-image-height: $small-default-hover-image-height / $small-default-hover-image-width * $small-hover-card-width;
$small-hover-card-data-height: $small-hover-card-height - $small-hover-card-image-height;
$large-hover-card-image-height: $large-default-hover-image-height / $large-default-hover-image-width * $large-hover-card-width;
$large-hover-card-data-height: $large-hover-card-height - $large-hover-card-image-height;

// Differences
$small-hover-card-total-width: $small-hover-card-width + $hover-card-right-margin;
$large-hover-card-total-width: $large-hover-card-width + $hover-card-right-margin;
$hover-card-width-difference: $large-hover-card-total-width - $small-hover-card-total-width;
$hover-card-height-difference: $large-hover-card-height - $small-hover-card-height;

// Ratios
$width-ratio-large-to-small: $large-hover-card-width / $small-hover-card-width;
$height-ratio-large-to-small: $large-hover-card-height / $small-hover-card-height;
$width-ratio-small-to-large: $small-hover-card-width / $large-hover-card-width;
$height-ratio-small-to-large: $small-hover-card-height / $large-hover-card-height;

// Large Card Positioning Shift
$hover-card-large-left-shift: ($hover-card-width-difference / $small-hover-card-width) * -50%;
$hover-card-large-top-shift: ($hover-card-height-difference / $small-hover-card-height) * -50%;

// Portrait Card Image Sync Adjustment
$large-hover-card-image-height-adjusted: $small-hover-card-image-height * $large-hover-card-height / $small-hover-card-height;
$large-hover-card-image-scale-y: $large-hover-card-image-height-adjusted / $large-hover-card-image-height;
$small-hover-card-image-height-adjusted: $large-hover-card-image-height * $small-hover-card-height / $large-hover-card-height;
$small-hover-card-image-scale-y: $small-hover-card-image-height-adjusted / $small-hover-card-image-height;

// Animations
// Expansion
$card-expansion-duration: 0.15s;
$card-expansion-curve: linear;
$hover-card-transition-transform: transform $card-expansion-duration $card-expansion-curve;
$hover-card-transition-opacity-in: opacity $card-expansion-duration ease-in;
$hover-card-transition-opacity-out: opacity $card-expansion-duration ease-out;
$hover-card-transition-opacity: opacity $card-expansion-duration ease;

// Chevron
$chevron-animation-duration: 0.2s;
$chevron-animation-out: $chevron-animation-duration linear;
$chevron-animation-in: $chevron-animation-out $card-expansion-duration;

// Base Styles
.base-portrait-hover-loan-card {
	background: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-shrink: 0;
	border-radius: $hover-card-border-radius;
	pointer-events: initial;
	opacity: 1;
	transform: scale(1, 1);
}

.base-portrait-hover-loan-card-image {
	border-radius: $hover-card-border-radius $hover-card-border-radius 0 0;
	overflow: hidden;
	flex-shrink: 0;
	transform: scaleY(1);
	transform-origin: top center;
	transition: $hover-card-transition-transform;
}

.base-portrait-hover-loan-card-data-wrap {
	border: rem-calc(1) solid $kiva-stroke-gray;
	border-radius: 0 0 $hover-card-border-radius $hover-card-border-radius;
	border-top: none;
}
