{
	"extends": ["plugin:vitest-globals/recommended"],
	"env": {
		"vitest-globals/env": true
	},
	"rules": {
		"no-restricted-imports": ["error",{
			"paths": [{
				"name": "vitest",
				"message": "Vitest imports are already globally available in test files."
			}]
		}]
	}
}
