name: Docker Build Publish

on:
  pull_request:
  push:
    branches:
      - main

env:
  GITHUB_PAT: "${{ secrets.KIVA_ROBOT_GITHUB_PAT || github.token }}"
  AWS_REGION: "us-west-2"
  AWS_ACCESS_KEY_ID: "${{ secrets.AWS_ACCESS_KEY_ID }}"
  AWS_SECRET_ACCESS_KEY: "${{ secrets.AWS_SECRET_ACCESS_KEY }}"
  SLACK_BOT_TOKEN: "${{ secrets.SLACK_TOKEN }}"
  SLACK_CHANNEL: "eng-build-failures"

jobs:
  test-build:
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: kiva/github-actions
          ref: main
          token: ${{ env.GITHUB_PAT }}
          path: .github/
      - uses: snow-actions/sparse-checkout@v1.2.0
        with:
          repository: kiva/marketplace-web-ui-ci
          token: ${{ env.GITHUB_PAT }}
          path: .docker
          ref: main
          patterns: |
              resources/org/kiva/marketplaceWebUiCi/ui
      - name: move files
        run: |
          mv .docker/resources/org/kiva/marketplaceWebUiCi/ui/Dockerfile .
      - name: build static assets
        uses: ./.github/actions/npm-run
        with:
          command: "build"
      - name: docker-build
        uses: ./.github/actions/docker-build-push
        if: github.event_name == 'pull_request'
        with:
          dockerfile_target: "release"
          push: false
  # Build and push the image to ECR
  build:
    runs-on: ubuntu-latest
    # Run on merges to development (main)
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Checkout actions
        uses: actions/checkout@v3
        with:
          repository: kiva/github-actions
          ref: main
          token: ${{ env.GITHUB_PAT }}
          path: .github/
      - uses: snow-actions/sparse-checkout@v1.2.0
        with:
          repository: kiva/marketplace-web-ui-ci
          token: ${{ env.GITHUB_PAT }}
          path: .docker
          ref: main
          patterns: |
            resources/org/kiva/marketplaceWebUiCi/ui
      - name: move files
        run: |
          mv .docker/resources/org/kiva/marketplaceWebUiCi/ui/Dockerfile .
      - name: build static assets
        uses: ./.github/actions/npm-run
        with:
          command: "build"
      - name: upload static assets
        uses: ./.github/actions/upload-static-assets
        with:
          source_dir: "dist/client"
          include: "static/*"
          cache_control: "public,max-age=31536000"
      - name: docker-push
        uses: ./.github/actions/docker-build-push
        with:
          dockerfile_target: "release"
          push: true
