name: Ui Tests

on:
  push:
    branches:
      - main
      - next
  pull_request:
    branches:
      - main
      - next

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '20.x'
    - name: Cache dependencies
      uses: actions/cache@v3
      env:
        cache-name: cache-dependencies
      with:
        path: |
          ~/.cache
          ~/.npm
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    - name: Install dependencies
      run: npm ci --prefer-offline
    - name: Run Lint
      run: npm run lint
    - name: Run Unit Tests
      run: npm run unit-coverage
    - name: Merge test coverage reports
      run: npm run coverage:merge
    - name: Coveralls
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: 'test/coverage/lcov.info'
        fail-on-error: false
